<div id="login-container">
    <div>
        <div id="login-extras">
            <img src="/assets/Logo02.png" />
            <h2>Côte d'Ivoire PME</h2>
            <!-- <p>Bienvenue sur la plateforme applicative de gestion des courriers.</p> -->

        </div>
        <div id="login-form-container">

            <div id="form">
                <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
                    <div class="form-head">
                        <!-- <img src="/assets/user.png" alt=""> -->
                        <h3>Connectez vous à Notre plateforme</h3>


                        <br>
                        <p>Merci de saisir votre identifiant et votre mot de passe puis cliquer sur le bouton « se connecter » pour accéder à la plateforme. </p>
                    </div>
                    <div class="invalid-msg text-center">
                        <div *ngIf="errorCode != 200">{{errorMessage}}</div>
                    </div>
                    <div class="form-inputs">
                        <div class="input-one-icon">
                            <span>
                                <img src="/assets/user.png" alt="">
                            </span>
                            <input type="text" placeholder="Identifiant ou email" formControlName="login">
                        </div>
                        <div class="input-two-icons">
                            <span>
                                <img src="/assets/key.png" alt="">
                            </span>
                            <input type="password" id="password" placeholder="Mot de passe" formControlName="password">

                            <span (click)="togglePasswordView('password')">
                                <img src="/assets/view.png" alt="">
    </span>
                        </div>
                        <div class="remember_me">
                            <div>
                                 <a class="register-link" routerLink="/register"> S'enregistrer</a>
                            </div>
                            <div>
                                <a routerLink="/account/password_recovery" class="color-primary" >Mot de passe oublié ?</a>

                            </div>
                        </div>
                        <br>
                        <button type="submit" class="login-btn">
                        Se connecter
                    </button>
                    </div>
                </form>
            </div>

        </div>
</div>
