<form  [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()" novalidate="">
<div id="form-container">
    <div id="form-box">
        <div id="form-header">
            <h5>Réinitialisation du mot passe</h5>
        </div>
        <div class="invalid-msg text-center">
            <div *ngIf="errorCode != 200">{{errorMessage}}</div>
        </div>
        <div id="inputGroup">
            <img src="/assets/user.png" alt="">
            <input type="text" placeholder="Identifiant ou Email" formControlName="email" required autofocus>
        </div>
        <div id="form-msg">
            Veuillez cliquer sur valider, vous allez recevoir un mail de réinitialisation du mot de passe.
        </div>

            <div id="form-buttons">
                <button type="submit" class="btn btn-lg bgc-primary p-3rem">Valider</button >
            <button type="button" class="btn btn-lg bgc-secondary p-3rem">
                <a routerLink="/login" class="text-white no-deco" >
                    Annuler
                </a>
            </button>
            </div>
        </div>
    </div>
</form>