.container {
    padding-top: 3%;
    padding-right: 5%;
    margin-left: 2%;
}

#gadd-user,
#gsearch-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: .5em;
}

#gadd-user h3,
#gsearch-user h4 {
    width: 50%;
}

#gsearch-user h4 {
    font-weight: lighter;
}

#gadd-user h3 img,
#gsearch-user h4 img {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-right: 1%;
}

#gsearch-user h4 {
    cursor: pointer;
}

#gadd-user #addbutton {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 40px;
    border: 2px solid black;
    align-items: center;
    width: 15%;
    border-radius: 25pt;
    color: white;
    background-color: #3C8DBC;
    overflow: hidden;
    border-left: none;
    cursor: pointer;
}

#gadd-user #addbutton img {
    display: inline-block;
    height: 20px;
    width: 20px;
}

#gadd-user #addbutton span {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 25pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    margin-left: 0;
}

#gsearch-user #searchfield {
    width: 30%;
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0;
    height: fit-content;
    padding-right: 2%;
}

#gsearch-user #searchfield .has-search {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: 2px solid #3C8DBC !important;
    border-radius: 25pt !important;
    padding-left: 5%;
    padding-right: 5%;
    float: right;
}

#gsearch-user #searchfield .has-search img {
    border: none;
}

#gsearch-user #searchfield .has-search input {
    border: none !important;
}

#gswitch {
    width: inherit;
    height: 5vh;
    background-color: lightgray;
    margin-bottom: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#gswitch>div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
    align-items: center;
    padding-left: 1%;
}

#gswitch>div:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    align-items: center;
}

#gswitch .gswitch-button {
    width: 10%;
    background-color: #3D6286;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-left: .25rem;
}

#gswitch>div>span {
    cursor: pointer !important;
}

table td.icons img {
    margin: 5%;
}

.modal-header {
    color: white !important;
    background-color: #3C8DBC !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

modal-header h1 img {
    height: 30px;
    width: 30px;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    background-color: #D8D7D7;
    padding-top: .5em;
    padding-bottom: .5em;
}

#buttons button:last-child {
    margin-right: 1%;
    color: white;
    background-color: #3D6286 !important;
}

#buttons button {
    font-size: 1em;
    width: 200px;
}

.gbtn {
    background-color: #3C8DBC;
    margin-left: 10%;
}

.detail-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.detail {
    width: 100%;
}

.icon {
    width: 20%;
    padding: 5%;
}

.infos {
    width: 80%;
}

.infos>table>tbody>tr>td {
    width: 70%;
}

#form-msg {
    padding-top: .5em;
    padding-bottom: .5em;
    margin-bottom: .5em;
    padding-left: 1%;
    background-color: #D8D7D7;
    font-weight: bold;
    font-size: .8em;
}

.display-none {
    display: none;
}

.invalid-msg {
    color: #EF7878;
    font-weight: bold;
    font-size: 1rem;
}

td.toggle {
    transform: scale(0.8);
}

.icons img {
    transform: scale(0.8);
}

.icons {
    display: flex;
    justify-content: space-around;
}

modal-header h1 {
    font-size: 1.2em;
    margin-bottom: 0%;
}

@media screen and (min-width: 995px),
screen and (min-height: 700px) {
    #addbutton {
        transform: scale(0.71);
    }
}

@media screen and (max-width: 995px),
screen and (max-height: 700px) {
    #gadd-user h3 {
        font-size: 1em;
        font-weight: bold;
    }
    #gadd-user h3 img {
        display: inline-block;
        height: 1em;
        width: 1em;
    }
    #gsearch-user h4 {
        font-size: 1em;
    }
    #gsearch-user h4 img {
        display: inline-block;
        height: 1em;
        width: 1em;
    }
    .has-search>* {
        height: 5vh;
    }
    #addbutton,
    .has-search img {
        transform: scale(0.7);
    }
    thead tr th {
        font-size: .7em;
        padding-left: 0;
    }
    td {
        padding: 0%;
        padding-right: 1%;
        font-size: .7em;
    }
    td.toggle {
        transform: scale(0.6);
    }
    .icons {
        display: flex;
        justify-content: space-around;
    }
    .icons img {
        transform: scale(0.6);
    }
    #gsearch-user #searchfield {
        padding-right: 2%;
    }
    modal-header h1 img {
        height: 20px;
        width: 20px;
    }
    modal-header h1 {
        font-size: 1em;
    }
    modal-content form>* {
        font-size: .8em;
    }
    modal-content form input,
    modal-content form select.form-control.form-select {
        font-size: .8em;
    }
    div.form-outline {
        margin: 0%;
    }
    #buttons button {
        font-size: 1em;
        padding: .3em;
        width: 200px;
    }
    #buttons button:last-child {
        margin-left: 2%;
    }
}

.container {
    padding-top: 3%;
    padding-right: 5%;
    margin-left: 2%;
}

#gadd-user,
#gsearch-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: .5em;
}

#gadd-user h3,
#gsearch-user h4 {
    width: 50%;
}

#gsearch-user h4 {
    font-weight: lighter;
}

#gadd-user h3 img,
#gsearch-user h4 img {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-right: 1%;
}

#gsearch-user h4 {
    cursor: pointer;
}

#gadd-user #addbutton {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 40px;
    border: 2px solid black;
    align-items: center;
    width: 15%;
    border-radius: 25pt;
    color: white;
    background-color: #3C8DBC;
    overflow: hidden;
    border-left: none;
    cursor: pointer;
}

#gadd-user #addbutton img {
    display: inline-block;
    height: 20px;
    width: 20px;
}

#gadd-user #addbutton span {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 25pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    margin-left: 0;
}

#gsearch-user #searchfield {
    width: 30%;
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0;
    height: fit-content;
    padding-right: 2%;
}

#gsearch-user #searchfield .has-search {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: 2px solid #3C8DBC !important;
    border-radius: 25pt !important;
    padding-left: 5%;
    padding-right: 5%;
    float: right;
}

#gsearch-user #searchfield .has-search img {
    border: none;
}

#gsearch-user #searchfield .has-search input {
    border: none !important;
}

#gswitch {
    width: inherit;
    height: 5vh;
    background-color: lightgray;
    margin-bottom: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#gswitch>div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
    align-items: center;
    padding-left: 1%;
}

#gswitch>div:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    align-items: center;
}

#gswitch .gswitch-button {
    width: 10%;
    background-color: #3D6286;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-left: .25rem;
}

#gswitch>div>span {
    cursor: pointer !important;
}

table td.icons img {
    margin: 5%;
}

.modal-header {
    color: white !important;
    background-color: #3C8DBC !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

modal-header h1 img {
    height: 30px;
    width: 30px;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    background-color: #D8D7D7;
    padding-top: .5em;
    padding-bottom: .5em;
}

#buttons button:last-child {
    margin-right: 1%;
    color: white;
    background-color: #3D6286 !important;
}

.gbtn {
    background-color: #3C8DBC;
    margin-left: 10%;
}

.detail-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.detail {
    width: 100%;
}

.icon {
    width: 20%;
    padding: 5%;
}

.infos {
    width: 80%;
}

.infos>table>tbody>tr>td {
    width: 70%;
}

#form-msg {
    padding-top: .5em;
    padding-bottom: .5em;
    margin-bottom: .5em;
    padding-left: 1%;
    background-color: #D8D7D7;
    font-weight: bold;
    font-size: .8em;
}

.display-none {
    display: none;
}

.invalid-msg {
    color: #EF7878;
    font-weight: bold;
    font-size: 1rem;
}

td.toggle {
    transform: scale(0.8);
}

.icons img {
    transform: scale(0.8);
}

.icons {
    display: flex;
    justify-content: space-around;
}

modal-header h1 {
    font-size: 1.2em;
    margin-bottom: 0%;
}

@media screen and (min-width: 995px),
screen and (min-height: 700px) {
    #addbutton {
        transform: scale(0.71);
    }
}

@media screen and (max-width: 995px),
screen and (max-height: 700px) {
    #gadd-user h3 {
        font-size: 1em;
        font-weight: bold;
    }
    #gadd-user h3 img {
        display: inline-block;
        height: 1em;
        width: 1em;
    }
    #gsearch-user h4 {
        font-size: 1em;
    }
    #gsearch-user h4 img {
        display: inline-block;
        height: 1em;
        width: 1em;
    }
    .has-search>* {
        height: 5vh;
    }
    #addbutton,
    .has-search img {
        transform: scale(0.7);
    }
    thead tr th {
        font-size: .7em;
        padding-left: 0;
    }
    td {
        padding: 0%;
        padding-right: 1%;
        font-size: .7em;
    }
    td.toggle {
        transform: scale(0.6);
    }
    .icons {
        display: flex;
        justify-content: space-around;
    }
    .icons img {
        transform: scale(0.6);
    }
    #gsearch-user #searchfield {
        padding-right: 2%;
    }
    modal-header h1 img {
        height: 20px;
        width: 20px;
    }
    modal-header h1 {
        font-size: 1em;
    }
    modal-content form>* {
        font-size: .8em;
    }
    modal-content form input,
    modal-content form select.form-control.form-select {
        font-size: .8em;
    }
    div.form-outline {
        margin: 0%;
    }
    #buttons button {
        font-size: 1em;
        width: 100px;
    }
    #buttons button:last-child {
        margin-left: 2%;
    }
    td ul {
        display: flex !important;
        flex-direction: column !important;
        flex-wrap: nowrap !important;
        height: auto !important;
    }
    .table.detail tbody tr td {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .btn.gbtn.btn-lg {
        width: 100px;
    }
    #buttons.display-modal-button {
        display: flex;
        align-items: center;
    }
    #buttons.display-modal-button button {
        border-radius: 5pt;
        font-weight: bold;
        padding-bottom: 0;
        padding-top: .5em;
        background-color: #3D6286 !important;
        border: none;
        box-shadow: none;
        height: 2vw !important;
    }
}

.table.detail th {
    font-size: .8em;
    color: #3D6286;
    border-color: #3C8DBC;
}

.table.detail td {
    font-size: .8em;
    border-color: #3C8DBC;
}

#buttons.display-modal-button {
    height: 3vw;
    padding: auto;
}

#buttons.display-modal-button button {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    font-size: .8em;
    height: 2.5vw;
    padding-top: .1em;
}

td ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 5vw;
    padding-left: 0%;
    list-style: none;
}

ul li::before {
    content: "\25AA";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #3D6286;
    /* Change the color */
    font-weight: bold;
    /* If you want it to be bold */
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: 1.2em;
    /* Also needed for space (tweak if needed) */
    margin-left: -1em;
    /* Also needed for space (tweak if needed) */
}