<div class="row mt-5">
  <div class="col-sm-11">
    <h3><i class="fas fa-folder mr-2 fa-1x"></i> Pondération des scores</h3>
  </div>
  <!--<div class="col-sm-1">
    <button class="btn btn-sm px-3 py-1" data-toggle="modal" data-target="#exampleModalCenter" style="background-color: #006a25; color: #ebeef2;">Nouveau</button>
  </div>-->

  <div class="container mt-4">
    <div class="card p-4 mb-3">
      <div class="card-title mb-3">
        <h5>Ajouter une pondération d'un score</h5>
      </div>
        <div class="form-row align-items-center">
          <div class="col-sm-3">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Code score"
                     [(ngModel)]="code"
                     [ngClass]="{ 'is-invalid': submitted && code.length == 0}">
              <div *ngIf="submitted && code.length == 0" class="invalid-feedback">Le champ est obligatoire.</div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="input-group">
              <input type="number" class="form-control" placeholder="Paramètre qualitatifs"
                    [(ngModel)]="idParametre"
                     [ngClass]="{ 'is-invalid': submitted && (isNan(idParametre) || idParametre == null) }">
              <div *ngIf="submitted &&  (isNan(idParametre) || idParametre == null) " class="invalid-feedback">Le champ est obligatoire.</div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="input-group">
              <input type="number" class="form-control" placeholder="Valeur"
                    [(ngModel)]="valeur"
                     [ngClass]="{ 'is-invalid': submitted && (isNan(valeur) || valeur == null) }">
              <div *ngIf="submitted &&  (isNan(valeur) || valeur == null) " class="invalid-feedback">Le champ est obligatoire.</div>
            </div>
          </div>

          <div class="col-sm-2" [ngClass]="{'mt-n4': submitted && (isNan(idParametre) || idParametre == null || isNan(valeur) || valeur == null)}">
            <button type="button" class="btn" style="color: #000000; background-color: rgba(247, 131, 0, .25)"  (click) = "savePonderation()"><i class="fas fa-check small"></i> Enregistrer</button>
          </div>
        </div>
    </div>

    <div class="card p-2">
      <div class="card-body">
        <div class="card-title mb-4">
          <h5>Liste des pondérations</h5>
        </div>
        <table class="table table-hover small" id="example" style="width:100%; border: .5px solid #ebeef2" 
        datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
          <thead class="text-black">
          <tr class="text-center">
            <th style="width: 15%;">Code </th>
            <th>Paramétre</th>
            <th>Valeur</th>
            <th style="width: 15%">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr class="text-center" *ngFor="let ponderation of listPonderation">
            <td>{{ponderation.code_score}}</td>
            <td>{{ponderation.parametreDTO.libelle}}</td>
            <td>{{ponderation.ponderation}}</td>
            <td>
              <button class="btn btn-sm" style="cursor: pointer; color: #f78300" (click)="onUpdateScoreClick(ponderation.id)"><i class="fas fa-edit"></i></button>
              <button class="btn btn-sm ml-lg-n2" style="cursor: pointer; color: #dc3545;" (click)="deletePonderation(ponderation.id)"><i class="fas fa-trash"></i></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


