<div class="row pt-5 px-4">
  <div class="col-sm-11">
    <h3><i class="fas fa-folder mr-2 fa-1x"></i> Liste des paramètres qualitatifs</h3>
  </div>
  <div class="col-sm-1">
    <button class="btn btn-sm px-3 py-1" data-toggle="modal" data-target="#exampleModalCenter" style="background-color: #006a25; color: #ebeef2;">Nouveau</button>
  </div>
</div>

<div class="mt-4">
  <div class="row mx-3" data-widget="tab-slider">
    <div class="col-sm-2 card p-3 m-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fas fa-folder" style="color: #006a25"></i> Gestion des op</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fas fa-folder" style="color: #006a25"></i> Innovation</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="fas fa-folder" style="color: #006a25"></i> Performance RH</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="fas fa-folder" style="color: #006a25"></i> Performance mana</a>
      </div>
    </div>
    <div class="col-sm-9 card p-3">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <div class="row px-2">
            <div class="col-sm-11"><h5>Gestion des op</h5></div>
            <div class="col-sm-1">
              <i class="fas fa-edit mr-2 small" style="cursor: pointer; color: #f78300"></i>
              <i class="fas fa-trash small" style="cursor: pointer; color: #dc3545"></i>
            </div>
          </div>

          <div class="row card m-2 p-3">
            <h5 style="font-size: 1.2rem;">Ajouter une question</h5>
            <form class="mt-3" [formGroup]="addQuestionForm" (submit)="saveQuestion()">
              <div class="form-row align-items-center">
                <div class="col-sm-10">
                  <div class="input-group">
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Libellé"
                    formControlName="libelleQuestion" [ngClass]="{ 'is-invalid': submittedQ && q.libelleQuestion.errors }">

                    <div *ngIf="submittedQ && q.libelleQuestion.errors" class="invalid-feedback">
                      <div *ngIf="q.libelleQuestion.errors.required">Le champ est obligatoire.</div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-2" [ngClass]="{'mt-n4': submittedQ && q.libelleQuestion.errors}">
                  <button type="submit" class="btn" style="color: #000000; background-color: rgba(247, 131, 0, .25)"><i class="fas fa-check small"></i> Enregistrer</button>
                </div>
              </div>
            </form>
          </div>

          <div class="row card m-2 p-3">
            <h6 class="mb-4" style="font-size: 1.2rem">Liste des questions</h6>

            <table class="table table-hover small" id="example" style="width:100%; border: .5px solid #ebeef2">
              <thead>
              <tr class="text-center">
                <th style="width: 3%"></th>
                <th style="width: 80%">Libellé</th>
                <th style="width: 17%;">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr class="text-center" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <td><i class="fas fa-chevron-right small text-black-50"></i></td>
                <td>Technical Author</td>
                <td>
                  <i class="fas fa-edit mr-2 small" style="cursor: pointer; color: #f78300"></i>
                  <i class="fas fa-trash small" style="cursor: pointer; color: #dc3545"></i>
                </td>
              </tr>
              <tr class="text-center" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <td><i class="fas fa-chevron-right small text-black-50"></i></td>
                <td>Technical Author</td>
                <td>
                  <i class="fas fa-edit mr-2 small" style="cursor: pointer; color: #f78300"></i>
                  <i class="fas fa-trash small" style="cursor: pointer; color: #dc3545"></i>
                </td>
              </tr>
              <tr class="text-center" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <td><i class="fas fa-chevron-right small text-black-50"></i></td>
                <td>Technical Author</td>
                <td>
                  <i class="fas fa-edit mr-2 small" style="cursor: pointer; color: #f78300"></i>
                  <i class="fas fa-trash small" style="cursor: pointer; color: #dc3545"></i>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">Profile Panel</div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">Messages Panel</div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">Settings Panel</div>
      </div>
    </div>
  </div>

  <!--<div class="card mt-2">
    <div class="card-body">
      <table class="table table-bordered table-hover" id="example" style="width:100%; border: .5px solid #ebeef2">
        <thead class="bg-dark text-white">
        <tr class="text-center">
          <th>Code</th>
          <th>Libellé</th>
          <th>Pondération</th>
          <th>Nombre de questions</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center">
          <td>Prescott Bartlett</td>
          <td>Technical Author</td>
          <td>0.1</td>
          <td>7</td>
          <td>
            <div class="row">
              <div class="col-sm-2" style="cursor: pointer; color: #006a25"><i class="fas fa-question"></i></div>
              <div class="col-sm-2" style="cursor: pointer; color: #f78300"><i class="fas fa-edit"></i></div>
              <div class="col-sm-2" style="cursor: pointer; color: #dc3545"><i class="fas fa-trash"></i></div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>-->
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form [formGroup]="addParamForm" (submit)="saveParam()">
        <div class="modal-header" style="background-color: #006a25; color: #ebeef2">
          <h5 class="modal-title" id="exampleModalLongTitle">Ajout d'un nouveau paramètre</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="small text-muted" style="color: #f78300 !important">Veuillez renseigner tous les champs et cliquer sur le bouton enregistrer.</p>

          <div class="form-group">
            <label>Code</label>
            <input type="text" class="form-control" placeholder="Entrez le code" formControlName="code"
                   [ngClass]="{ 'is-invalid': submitted && f.code.errors }">
            <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
              <div *ngIf="f.code.errors.required">Le champ est obligatoire.</div>
            </div>
          </div>

          <div class="form-group">
            <label>Libellé</label>
            <input type="text" class="form-control" placeholder="Entrez le libellé" formControlName="libelle"
                   [ngClass]="{ 'is-invalid': submitted && f.libelle.errors }">
            <div *ngIf="submitted && f.libelle.errors" class="invalid-feedback">
              <div *ngIf="f.libelle.errors.required">Le champ est obligatoire.</div>
            </div>
          </div>

          <div class="form-group">
            <label>Nombre de questions</label>
            <input type="number" class="form-control" placeholder="Entrez le nombre de question" formControlName="nbQuestion"
                   [ngClass]="{ 'is-invalid': submitted && f.nbQuestion.errors }">
            <div *ngIf="submitted && f.nbQuestion.errors" class="invalid-feedback">
              <div *ngIf="f.nbQuestion.errors.required">Le champ est obligatoire.</div>
              <div *ngIf="f.nbQuestion.errors.min">Un paramètre doit avoir au moins une question.</div>
            </div>
          </div>

        </div>
        <div class="modal-footer border-0">
          <button type="button" class="btn" style="background-color: #f78300; color: #ebeef2" data-dismiss="modal">Annuler</button>
          <button type="submit" class="btn" style="background-color: #006a25; color: #ebeef2">Enregistrer</button>
        </div>
      </form>
    </div>
  </div>
</div>
