@import '../../../vars.scss';

#gcontainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    overflow-y: scroll;
}

#gsidebar-header {
    padding-right: .5%;
    padding-left: 2%;
}

#gsidebar-header h3 {
    padding-top: .3em;
    padding-bottom: .3em;
    font-size: 1.3em;
}

#gsidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    background-color: $primary /**#364850*/;
    display: flex;
    flex-direction: column;
}

#gmain {
    margin-left: 20%;
}

#gsidebar #gsidebar-header {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
    padding-top: 10%;
    padding-bottom: 5%;
    height: 20%;
}

#gsidebar #gsidebar-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 70%;
    position: relative;
}

#gsidebar #gsidebar-list .item {
    color: white;
    width: 80%;
    border: 1px solid $secondary/*#3C8DBC*/;
    margin-bottom: 5%;
    text-align: center;
    border-radius: 25pt;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 2%;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    cursor: pointer;
}

#gsidebar #gsidebar-list .item.active {
    background-color: $secondary/*#3C8DBC*/;
}

#gsidebar #gsidebar-list .item img {
    display: inline-block;
    height: 45px;
    width: 45px;
    margin-right: 1rem;
}

#gsidebar #gsidebar-list .item h1 {
    text-align: center;
}

#gsidebar #gsidebar-list .item:last-child {
    margin-top: 5%;
}

#gfooter {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 30px;
    background-color: $primary/*#3C8DBC*/;
    text-align: center;
    color: white;
    z-index: 1000;
}

#gmain #gmain-navbar {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $secondary/*#3C8DBC*/;
    width: inherit;
}

#gmain #gmain-navbar .title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 55%;
    align-items: center;
    color: white;
    margin-left: .5%;
}

#gmain #gmain-navbar .user-data {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    margin-right: 3%;
    align-items: center;
    margin-top: .5%;
}

#gmain #gmain-navbar .user-data button {
    border: none;
    color: black;
}

#gmain #gmain-navbar .user-data img {
    display: inline-block;
    height: 2em;
    width: 2em;
}

#gmain #gmain-navbar .user-data h4 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 45%;
    border-radius: 25pt;
    background-color: white;
    font-size: 1.3em;
}

#gmain #gmain-navbar img {
    display: inline-block;
    height: 25px;
    width: 40px;
    margin-right: 0.5%;
}

#gmain-navbar img+h4 {
    font-size: 1.3em;
}

#gmain #gcomponent-container {
    width: inherit;
    padding-left: 1%;
    padding-right: 1%;
}

#gmain {
    overflow-y: scroll;
}

.logout {
    margin-left: 2%;
}

.modal-header {
    color: white !important;
    background-color: $secondary/*#3C8DBC*/ !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

modal-header h1 img {
    height: 40px;
    width: 40px;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    background-color: #D8D7D7;
    padding-top: .5em;
    padding-bottom: .5em;
}

#buttons button:last-child {
    margin-right: 1%;
    margin-left: 15%;
    color: white;
    // background-color: #3D6286 !important;
}

#form-msg {
    padding-top: .5em;
    padding-bottom: .5em;
    margin-bottom: .5em;
    padding-left: 1%;
    background-color: #D8D7D7;
    font-weight: bold;
    font-size: .8em;
}

.btn-outline-primary.dropdown-toggle:hover {
    background: none !important;
    border: none !important;
}

.btn-outline-primary.dropdown-toggle:active {
    background: none !important;
    border: none !important;
}

.show>.btn-outline-primary.dropdown-toggle {
    background: none !important;
    border: none !important;
}

.show>.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: none !important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: none !important;
    outline: 0;
    box-shadow: none !important;
}

.input-two-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid lightgray;
    padding: 2%;
    width: 100%;
    border-radius: 5pt;
    position: relative;
}

.input-two-icons img {
    height: 1em;
    width: 1em;
    border: none;
    margin-right: 1%;
}

.input-two-icon {
    position: relative;
}

.input-two-icons span:first-of-type {
    height: inherit;
    width: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.input-two-icons span:last-of-type {
    height: inherit;
    width: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.input-two-icons input {
    height: 1.7em;
    border: none;
    width: 95%;
    background: none;
    margin-left: 3em;
}

input:focus {
    outline: none;
}

.dropdown-menu.show {
    top: 20% !important;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    background: none !important;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: none !important;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: none !important;
}

modal-header h1 {
    font-size: 1.2em;
}

modal-header h1 img {
    height: 20px;
    width: 20px;
}

#buttons button {
    font-size: 1em;
    padding: .3em;
    width: 20%;
}

@media screen and (max-width: 995px),
screen and (max-height: 700px) {
    #gmain #gmain-navbar .user-data h4 {
        font-size: 1em;
    }
    #gmain-navbar img+h4 {
        font-size: 1em;
    }
    #gsidebar #gsidebar-list .item {
        width: 100%;
        font-size: 1rem;
    }
    #gsidebar #gsidebar-list .item h2 {
        width: 80%;
        font-size: 1.2em;
        text-align: left;
    }
    #gsidebar #gsidebar-list .item img {
        width: 1em;
        height: 1em;
        margin-right: .5rem;
    }
    modal-header h1 {
        font-size: 1em;
    }
    modal-content form>* {
        font-size: .8em;
    }
    modal-content form input,
    modal-content form select.form-control.form-select {
        font-size: .8em;
    }
    div.form-outline {
        margin: 0%;
    }
    #buttons button {
        font-size: 1em;
        padding: .5em;
        width: 20%;
    }
    #buttons button:last-child {
        margin-left: 2%;
    }
    .input-two-icons img {
        height: .7em;
        width: .7em;
        border: none;
        margin-right: 1%;
    }
    .input-two-icons input {
        height: 1em;
    }

    #gsidebar-header h3{
        font-size: .9rem;
    }
}

.image-container {
    padding-top: 4vh;
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    height: 15vh;
    width: 15vh;
    padding-right: 5%;
}

.user-infos li {
    list-style-type: none;
    margin-top: 10px;
    font-size: .8em;
}

.user-infos li span:first-of-type {
    font-weight: bold;
    color: #3C8DBC;
}

.user-infos li span:last-of-type {
    color: gray;
}