<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>
<body>
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 ml-2" id="sidebarToggle" (click)="toggleSidenav()"><i class="fas fa-bars"></i></button>

  <!-- Navbar Brand-->
  <a class="navbar-brand mt-1 ps-3" href="index.html">
    <img src="/assets/Logo01.png" alt="logo" style="width: 150px;">
  </a>
  <!-- Navbar-->
  <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/admin/users">Utilisateurs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/admin/profils">Profils</a>
    </li>

    <li class="nav-item">
        <div ngbDropdown>
            <a class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><i class="fas fa-user fa-fw"></i></a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-right" >
                <div class="user-infos">
                    <ul>

                        <li> <span> Identifiant</span> <br> <span>{{user?.username}} </span> </li>
                        <li> <span> Profil  </span> <br> <span> {{user?.profil?.libelle}}</span> </li>
                    </ul>
                    <hr>
                </div>
                <button ngbDropdownItem (click)="openModal()">Modifier mot de passe</button>
                <button ngbDropdownItem (click)="logout()">Se déconnecter</button>
            </div>
        </div>
    </li>
  </ul>
</nav>

<div id="layoutSidenav">
  <div id="layoutSidenav_nav" *ngIf="isShowing">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/users">
            <div class="sb-nav-link-icon"><i class="fas fa-folder mr-2 fa-2x"></i></div>
            Utilisateurs
          </a>

          <a class="nav-link" routerLinkActive="active" routerLink="/admin/profils">
            <div class="sb-nav-link-icon"><i class="fas fa-folder mr-2 fa-2x"></i></div>
            Profils
          </a>

        </div>
      </div>
      <div class="sb-sidenav-footer small text-muted" style="color: rgba(255,255,255,0.5) !important">
        <div class="small py-1"></div>
        Copyright &copy; <img src="assets/Logo02.png" class="ml-n2 mr-n2" alt="logo" style="width: 70px"> 2021
      </div>
    </nav>
  </div>

  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4 myContent">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>

<ng-template #content  let-modal>
    <div class="modal-header">
        <img src="/assets/user.png" alt="">
        <h4 class="modal-title" id="modal-basic-title">Modification de mot passe</h4>
    </div>
    <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
        <div id="form-msg">
            Veuillez remplir soigneusement le formulaire ci-dessous.
        </div>
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">

                        <label class="form-label" for="form3Example1">Mot de passe courant <span style="color: red;">*</span></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <img src="/assets/key.png" alt="">   
                                </span>
                            </div>
                            <input type="password" id="current-password" class="form-control" placeholder="Mot de passe" formControlName="password" />
                            <div class="input-group-prepend" (click)="togglePasswordView('current-password')">
                                <span class="input-group-text">
                                    <img src="/assets/view.png" alt="">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">

                        <label class="form-label" for="form3Example2">Nouveau mot de passe <span style="color: red;">*</span></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <img src="/assets/key.png" alt="">   
                                </span>
                            </div>
                            <input type="password" id="new-password" placeholder="Nouveau mot du passe" class="form-control" formControlName="newPassword" />
                            <div class="input-group-prepend" (click)="togglePasswordView('new-password')">
                                <span class="input-group-text">
                                    <img src="/assets/view.png" alt="">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">

                        <label class="form-label" for="form3Example2">Confirmation du nouveau mot du passe <span style="color: red;">*</span></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <img src="/assets/key.png" alt="">   
                                </span>
                            </div>
                            <input type="password" id="confirm-password" placeholder="Confirmation du nouveau mot du passe" class="form-control" formControlName="newPasswordConfirm" />
                            <div class="input-group-prepend" (click)="togglePasswordView('confirm-password')">
                                <span class="input-group-text">
                                    <img src="/assets/view.png" alt="">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn bgc-secondary btn-lg" [disabled]="disableCloseModal" (click)="modal.close('Closed')">Annuler</button>
            <button type="submit" class="btn bgc-primary btn-lg">Envoyer</button>
        </div>
    </form>
</ng-template>
