#form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url('/portailMFB/assets/login-bg-edted.png');
    background-position: center;
    background-size: cover;
}

#form-box {
    height: 500px;
    width: 40%;
    display: flex;
    flex-direction: column;
    /*     justify-content: space-around;
 */
    align-items: center;
    background-color: white;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.219);
    overflow: none;
    scrollbar-width: 1px;
}

#form-box>* {
    margin-top: 5%;
}

#form-box .inputGroup {
    display: flex;
    flex-direction: row;
    width: 80%;
    border: 2px solid rgba(211, 211, 211, 0.534);
    padding: 1%;
    border-radius: 5pt;
}

#form-box .inputGroup img {
    height: 2em;
    width: 2em;
    margin-right: 2%;
}

#form-box .inputGroup input {
    width: 95%;
    border: none;
}

#form-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 5%;
    margin-top: 10px;
}

#form-buttons>button {
    height: 4vh;
}

#form-buttons>.approve-btn {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    cursor: pointer;
    color: white;
    border-radius: 5pt;
    border-color: none;
}

#form-buttons>.cancel-btn {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    cursor: pointer;
    background-color: lightgrey;
    border-radius: 5pt;
}

#form-msg {
    color: #3C8DBC;
    width: 80%;
    text-align: center;
}

#form-header {
    padding-top: 10%;
}

#form-header h5 {
    font-size: 1.2em !important;
}

.is-invalid {
    border-color: #EF7878;
    border-width: 1px;
    border-style: solid;
}

input:focus {
    outline: none;
}

.printPassword {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.printPassword span {
    margin-right: .5%;
}

@media screen and (max-width: 995px),
screen and (max-height: 800px) {
    #form-box {
        height: 80%;
        width: 60%;
    }
    #form-buttons>button {
        height: 40px;
    }
}