<form class="login-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" novalidate="" *ngIf="tokenValide">
    <div id="form-container">
        <div id="form-box">
            <div id="form-header">
                <h5>Réinitialisation du mot passe</h5>
            </div>
            <div class="inputGroup">
                <img src="/assets/key.png" alt="">
                <input id="password1" type="password" placeholder="Nouveau mot de passe" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            </div>


            <div class="inputGroup">
                <img src="/assets/key.png" alt="">
                <input id="password2" type="password" placeholder="Confirmez le mot de passe" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
            </div>


            <div class="printPassword" style="width: 100%;">
                <span><input (change)="togglePasswordView('password1');togglePasswordView('password2');" type="checkbox"> </span> <span>Afficher les mots de passe </span>
            </div>
            <div id="form-buttons">
                <button type="submit" class="btn btn-lg bgc-primary approve-btn">Valider</button>
            </div>
        </div>
    </div>
</form>
