<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>
<body>
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <!-- <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 ml-2" id="sidebarToggle" (click)="toggleSidenav()"><i class="fas fa-bars"></i></button> -->

  <!-- Navbar Brand-->
  <a class="navbar-brand mt-1 ps-3" href="index.html">
    <img src="/assets/Logo01.png" alt="logo" style="width: 150px;">
  </a>
  <!-- Navbar-->
  <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
    <li class="nav-item">
        <div ngbDropdown>
            <a class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><i class="fas fa-user fa-fw"></i></a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-right">
                <a routerLink="/login" ngbDropdownItem >Se connecter</a>
                <a routerLink="/register" ngbDropdownItem >S'enregistrer</a>
            </div>
        </div>
    </li>
  </ul>
</nav>

  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4 myContent">
		<div class="center">
			<div class="box p-4" [ngClass]="rsConfirm == 'success' || rsConfirm == 'confirmed' ? 'success' : 'warning'">
				<div class="icon">
					<i *ngIf="rsConfirm == 'success' || rsConfirm == 'confirmed' " class="far fa-5x fa-check-circle"></i>
					<i *ngIf="rsConfirm == 'error'" class="fas fa-5x fa-exclamation-circle"></i>
				</div>
				<div class="content text-center">
					<div *ngIf="rsConfirm == 'error'">
						<strong >Error!</strong> Votre compte n'a pas pu être vérifié.
						<p>Renvoyez un mail d'activation de votre compte</p>
						<a class="btn bgc-secondary" (click)="setActivation()">Renvoyer le mail d'activation</a>
					</div>
					<div *ngIf="rsConfirm == 'resend'">
						<strong >Activation!</strong> Pour renvoyer un mail d'activation de votre compte, entrez votre e-mail et cliquez sur le bouton 'Envoyer'.
						<p class="w-100 mt-4">
							<input type="text" class="form-control" [(ngModel)]="email">
						</p>
						<a class="btn bgc-secondary" (click)="sendActivationMail()">Envoyer</a>
					</div>
					<div *ngIf="rsConfirm == 'success'">
						<strong >Succes!</strong> Votre compte a été bien vérifié.
						<p class="small">Pour vous connecter à votre compte, cliquez le bouton ci-dessous : </p>
						<a class="btn bgc-secondary" routerLink="/login">Se connecter</a>
					</div>
					<div *ngIf="rsConfirm == 'confirmed'">
						<strong >Allert!</strong> Votre compte est déjà activé.
						<!-- <p class="small">Pour vous connecter à votre compte, cliquez le bouton ci-dessous : </p>
						<a class="btn bgc-secondary" routerLink="/login">Se connecter</a> -->
					</div>
				</div>
			</div>
		</div>
      </div>
    </main>
  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>
